<h1>ScandiCrush - Bringing Scandinavia's emerging designers to Paris Fashion Week</h1>

<div class="container-fluid">
  <div class="container">
    <div class="gallery">
      <div class="gallery-img">
        <%= image_tag "Without.png"  %>
      </div>
      <div class="gallery-img">
        <%= image_tag "SF2.52.png"  %>
      </div>
      <div class="gallery-img">
        <%= image_tag "SC3.09.png"  %>
      </div>
       <div class="gallery-img">
        <%= image_tag "SC4.20.png"  %>
      </div>
      <div class="gallery-img">
        <%= image_tag "Ravn.png"  %>
      </div>
       <div class="gallery-img">
        <%= image_tag "IMG_1704.jpg"  %>
      </div>
       <div class="gallery-img">
        <%= image_tag "IMG_1709.jpg"  %>
      </div>
       <div class="gallery-img">
        <%= image_tag "IMG_6787.jpg"  %>
      </div>
    </div>
  </div>
</div>
