<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108386998-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108386998-1');
  </script>
  <link rel="stylesheet" href="src/css/swipebox.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="The Genuines // S.Smith Photography">
  <meta property="og:image" content="fb-card.png">
  <title>The Genuines Photography</title>
  <title><%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %></title>
   <meta name=”description” content=”Book a professional Paris photographer ”>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="lib/jquery-1.9.0.js"></script>
  <script src="src/js/jquery.swipebox.js"></script>
</head>
<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="site-content">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= cloudinary_js_config %>
</body>
</html>


